---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/team.profile.get
    body:
      encoding: UTF-8
      string: token=token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - team:read,read
      X-Oauth-Scopes:
      - identify,read,post,client
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"profile":{"fields":[{"id":"Xf6RKY5F2B","ordering":0,"field_name":"","label":"Artsy Title","hint":"This comes from team-nav","type":"text","possible_values":null,"options":null,"is_hidden":false},{"id":"Xf6QJY0DS8","ordering":1,"field_name":"","label":"Artsy Team","hint":"This is automated by team-nav.","type":"text","possible_values":null,"options":null,"is_hidden":false},{"id":"Xf6RE21006","ordering":2,"field_name":"","label":"Artsy Subteam","hint":"This is auto-generated by team-nav.","type":"text","possible_values":null,"options":null,"is_hidden":false},{"id":"Xf2EQFNHRS","ordering":3,"field_name":"","label":"Personality Type","hint":"Optional: See https://www.16personalities.[...]
